/* fonts */
.indie-flower {
    font-family: 'Indie Flower', cursive;
}

body {
    background-image: url(https://image.freepik.com/free-photo/food-background-food-concept-with-various-tasty-fresh-ingredients-cooking-italian-food-ingredients-view-from_1220-1493.jpg);
}

.container {
    background-image: url(https://www.polytec.com.au/img/products/960-960/white.jpg);
    padding-left:2%;
    padding-right:2%;
    min-height: 86vh;
}


/* NAV STYLING */
/* logo icon resized */
#logo {
    font-size: 50px;
}
.left-nav {
    margin-left:15%;
}
.right-nav {
    margin-right:15%;
}

/* nav & footer colour changed */
.nav-wrapper, .page-footer {
    background-color: #FFAD4D;
}

/* footer styling */
#copyright-text {
    text-align: center;
}

.page-footer {
   padding-top:0px;
   min-height: 3vh;
}

/* recipe div styling */
img {
    max-width: 100%;
}

/* removing white space above & below container */
.page-heading {
    padding-top:30px;
}
.remove-white-space {
    margin-bottom:0px;
    padding-bottom:25px;
}

/* centre headings */
.recipe-heading, .page-heading, .carousel-heading, .myRecipeHeading {
    text-align: center;
}

/* recipe div margin */
.recipe-heading {
    margin-bottom: 15px;
}

.myRecipeHeading {
    margin-bottom: 0px;
}

/* Carousel styling */
.carousel {
    height:300px!important;
}
.carousel-container, .recipe-container {
    background-image: url(https://images.homedepot-static.com/productImages/6bb80387-f33b-4a2d-a728-e78986ef0b39/svn/wallpaper-2758-8023sam-64_600.jpg);
}
.carousel-writing {
    text-decoration: none;
    color: black;
}

/* UPLOAD FORM STYLING */
/* instructions input size increase */
#instructions {
    min-height: 20vh;
}

/* limit checkbox div size */
.checkboxes, .image-url {
    max-height: 25vh;
    overflow: auto;
    border: solid 2px #A9A9A9;
}
/* remove margin under checkbox row */
.remove-bottom-margin {
    margin-bottom:0px;
}

.hidden-row {
    display:none;
}

/* centre submit button */
.submit-button {
    text-align: center;
}

.upload-button{
    height:10vh;
    width:65vw;
}

/* placeholder text */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: bold;
}


/* BOOKMARK BUTTON STYLING */
.bookmark-button, .written-button, .delete-button, .remove-bookmark-button {
    min-width: 4.5vw;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    min-height: 38px;
    border-radius: 30%;
}
.bookmark-icon, .written-icon, .thumb-icon, .question-icon {
    font-size: 25px!important;
}
.remove-margin-top {
    margin-top: 0px;
}