/* fonts */
.indie-flower {
    font-family: 'Indie Flower', cursive;
}
/* NAV STYLING */
/* logo icon resized */
#logo {
    font-size: 50px;
}
.left-nav {
    margin-left:15%;
}
.right-nav {
    margin-right:15%;
}

/* nav & footer colour changed */
.nav-wrapper, .page-footer {
    background-color: #FFAD4D;
}

/* footer styling */
#copyright-text {
    text-align: center;
}

.page-footer {
   padding-top:0px; 
}

img {
    max-width: 100%;
}

.page-heading {
    margin-bottom:30px;
}

/* centre headings */
.recipe-heading, .page-heading {
    text-align: center;
}

/* recipe div margin */
.recipe-heading {
    margin-bottom: 35px;
}