<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center"><i class="material-icons right">playlist_add</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#">My Recipes <i class="material-icons right">face</i></a></li>
                    <li><a href="#">Upload a recipe</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="collapsible.html">Random Recipe</a></li>
                    <li><a href="#">Search</a></li>
                </ul>


            </div>
        </nav>
    </header>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>

</html>