<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='javascript/javascript.js')}}" type="text"/>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center"><i class="material-icons right" id="logo">spa</i></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down left-nav">
                    <li class="indie-flower"><a href="{{ url_for('my_recipes')}}">My Recipes <i class="material-icons right">face</i></a></li>
                    <li class="indie-flower"><a href="{{ url_for('upload_recipe')}}">Upload a recipe <i class="material-icons right">add_circle</i></a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down right-nav">
                    <li class="indie-flower"><a href="collapsible.html">Random Recipe<i class="material-icons right">near_me</i></a></li>
                    <li class="indie-flower"><a href="#">Search <i class="material-icons right">search</i></a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li class="indie-flower"><a href="#">My Recipes <i class="material-icons right">face</i></a></li>
                    <li class="indie-flower"><a href="#">Upload a recipe <i class="material-icons right">add_circle</i></a></li>
                    <li class="indie-flower"><a href="collapsible.html">Random Recipe<i class="material-icons right">near_me</i></a></li>
                    <li class="indie-flower"><a href="#">Search <i class="material-icons right">search</i></a></li>
                </ul>
            </div>
            </nav>
    </header>
    
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container" id="copyright-text">
                © Copyright Páraic Cooney 2019
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>

</html>