{% extends 'base.html'%} {% block content %}

<div class="page-heading indie-flower">
    <h4>Browse Categories</h4>
    <hr>
</div>
<br>
<!-- Breakfast Carousel -->

<h5 class="indie-flower carousel-heading">Breakfast</h5>
<div class="carousel carousel-container">
{% for recipe in recipes %} 
{% if recipe.lunch == "on" %}
<a class="carousel-item" href="{{url_for('display_recipe')}}"><img src="{{recipe.image_url}}"><p class="carousel-writing">{{recipe.recipe_name}}</p></a>
{% endif %}
{% endfor %}
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      {
        $(document).ready(function(){
    $('.carousel').carousel();
  });
      }
    </script>
{% endblock %}