{% extends 'base.html'%}

{% block content %}


<!-- Username Modal -->
<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


<div class="page-heading indie-flower">
  <h4>My Recipes</h4><hr>  
</div>

{% for recipe in recipies %}
<div class="recipe-heading indie-flower">
  <h5>{{recipe.recipe_name}}</h5>
  <h7>author: {{recipe.author}}</h7>
  <hr>  
</div>
<div class="row remove-white-space">
    <div class="col s7">
    <b>Ingredients:</b> {{recipe.ingredients}}<br>
    <b>Instructions: </b>{{recipe.instructions}}<br>
    <b>Serves: </b>{{recipe.serves}} <br>
    <b>Difficulty: </b>
    <!-- if statement for difficulty -->
    {% if recipe.difficulty == "0" %}
    <span>Very Easy</span>
    {% elif recipe.difficulty == "25" %}
    <span>Easy</span>
    {% elif recipe.difficulty == "50" %}
    <span>Moderate</span>
    {% elif recipe.difficulty == "75" %}
    <span>Difficult</span>
    {% elif recipe.difficulty == "100" %}
    <span>Very Difficult</span>
    {% endif %}
    </div>
    <div class="col s5">
    <img src="static/images/{{recipe._id}}.jpg"></img>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>

{% endfor %}
{% endblock %}