{% extends 'base.html'%} {% block content %}
<div class="page-heading indie-flower">
  <h4>Welcome back {{ username }}. Here's your recipes.</h4><br>
</div>

<h5 class="indie-flower myRecipeHeading">Written</h5>
{% for recipe in recipes %} 
{% if recipe.author == (username) %}  

<div class="container-fluid">
  <div class="recipe-heading indie-flower">
    <h5 class="recipe-heading">{{recipe.recipe_name}}</h5>
    <h7>author: {{recipe.author}}</h7>
    <hr>
  </div>
  <div class="row remove-white-space recipe-container">
    <div class="col s7">
      <button class="btn waves-effect waves-light written-button" type="submit">
          <i class="fas fa-pencil-alt written-icon"></i>
      </button>
      <b>Ingredients:</b> {{recipe.ingredients}}<br>
      <b>Instructions: </b>{{recipe.instructions}}<br>
      <b>Serves: </b>{{recipe.serves}} <br>
      <b>Difficulty: </b>
      <!-- if statement for difficulty -->
      {% if recipe.difficulty == "0" %}
      <span>Very Easy</span> {% elif recipe.difficulty == "25" %}
      <span>Easy</span> {% elif recipe.difficulty == "50" %}
      <span>Moderate</span> {% elif recipe.difficulty == "75" %}
      <span>Difficult</span> {% elif recipe.difficulty == "100" %}
      <span>Very Difficult</span>
      {% endif %}
      <br>
      <div>
      <button class="btn waves-effect waves-light delete-button red" type="submit">
          <i class="fas fa-trash-alt"></i>
      </button>
      </div>
      <br>
    </div>
    <div class="col s5">
      <img src="{{recipe.image_url}}"></img>
    </div>
  </div>

  <br>
</div>

    
{% endif %} {% endfor %}


<h5 class="indie-flower myRecipeHeading">Bookmarked</h5>
{% for recipe in recipes2 %} 
{% if (username) in recipe.bookmarkers %}  

<div class="container-fluid">
  <div class="recipe-heading indie-flower">
    <h5 class="recipe-heading">{{recipe.recipe_name}}</h5>
    <h7>author: {{recipe.author}}</h7>
    <hr>
  </div>
  <div class="row remove-white-space recipe-container">
    <div class="col s7">
      <b>Ingredients:</b> {{recipe.ingredients}}<br>
      <b>Instructions: </b>{{recipe.instructions}}<br>
      <b>Serves: </b>{{recipe.serves}} <br>
      <b>Difficulty: </b>
      <!-- if statement for difficulty -->
      {% if recipe.difficulty == "0" %}
        <span>Very Easy</span> {% elif recipe.difficulty == "25" %}
        <span>Easy</span> {% elif recipe.difficulty == "50" %}
        <span>Moderate</span> {% elif recipe.difficulty == "75" %}
        <span>Difficult</span> {% elif recipe.difficulty == "100" %}
        <span>Very Difficult</span> {% endif %}
    </div>
    <div class="col s5">
      <img src="{{recipe.image_url}}"></img>
    </div>
    </div>
    <br>
  </div>

    
{% endif %} {% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
// confirm delete has taken place
  $('.delete-button').on("click", function() {
    $(this).parent().html("<b><p class='remove-margin-top'>Deleted</p></b>")
  })
</script>

    
{% endblock %}

<!--
{% if incrementer == 0  %}
    <div class=row>
      <div class="col s12">
    <h6>Uh-oh! You don't appear to have uploaded any recipes. <br><a href="{{ url_for('upload_recipe')}}">Why not upload some of your favourites?</a>
    <br> If this seems incorrect please close the browser & reload the page ensuring you have entered your username correctly</h6>
    </div>
    </div>
    {% endif %}
-->