{% extends 'base.html'%} {% block content %}
<div class="page-heading indie-flower">
  <h4>Search</h4>
  <hr>
</div>

<form action="{{ url_for('search_recipes_button') }}" method="POST" class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <select name="search_param" id="search_param">
      <option value="" disabled selected>Please select an option</option>
      <option value="recipe_name">Recipe Name</option>
      <option value="author">Author</option>
      <option value="ingredients">Ingredient</option>
    </select>
      <label>Search by</label>
    </div>
    <div class="input-field col s6">
      <input name="search_input" id="search_input" type="text" class="validate" required>
      <label for="search_input">What/who are you searching for?</label>
    </div>
  </div>
  <!-- upload button -->
  <div class="row remove-white-space">
    <div class="col s4"></div>
    <div class="col s4 submit-button">
      <button class="btn waves-effect waves-light search-button" type="submit">
            <i class="material-icons right">file_upload</i>
            Search
        </button>
    </div>
  </div>
</form>

{% endblock %}