{% extends 'base.html'%} {% block content %}

<div class="page-heading indie-flower">
    <h4>Upload A Recipe</h4>
    <hr>
</div>
<form action="{{ url_for('upload_recipe_button') }}" method="POST" class="col s12">
    <div class="row">
        <div class="input-field col s8">
            <input id="recipe_name" type="text" class="validate" required>
            <label for="recipe_name">Recipe Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8">
            <input name="ingredients" id="ingredients" type="text" class="validate" required>
            <label for="ingredients">Ingredients (please separate each with a ",")</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input name="instructions" id="ingredients" type="text" class="validate" required>
            <label for="instructions">Instructions (we recommend numbering your steps for legibility)</label>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <input oninput=getSliderText() type="range" id="difficulty" name="difficulty" step="25" value="50">
            <div align="center" style="font-size:25px;"><output name="amount" id="slider">Difficulty (Moderate)</output></div>
            <div class="input-field">
                <input name="serves" id="serves" type="text" class="validate" required>
                <label for="serves">Serves</label>
            </div>
        </div>
        <div class="col s6 checkboxes">
            {% for category in categories %}
            <input id='{{category.category_name}}' type="checkbox" class="filled-in" />
            <label for='{{category.category_name}}'>
                <span>{{category.category_name}}</span>
            </label>
            <br> {% endfor %}
        </div>
    </div>
    <!-- upload image functionality -->
    <div class="row">
    <div class="col s6 photo-upload">
            <input type="file" id="photo-file" name="photo-file" required/>
            <label for="photo-file"> Select a photo to upload</label>
    </div>
    </div>
    <div class="row remove-white-space">
        <div class="col s12 submit-button">
            <button class="btn waves-effect waves-light upload-button" type="submit" name="action">
            <i class="material-icons right">file_upload</i>
            Upload Recipe
        </button>
        </div>
    </div>
</form>

<script>
    // slider functionality
    function getSliderText() {
        var difficulty = document.getElementById("difficulty").value
        if (difficulty == 0) {
            document.getElementById("slider").innerHTML = "Very easy";
        }
        else if (difficulty == 25) {
            document.getElementById("slider").innerHTML = "Easy";
        }
        else if (difficulty == 50) {
            document.getElementById("slider").innerHTML = "Moderate";
        }
        else if (difficulty == 75) {
            document.getElementById("slider").innerHTML = "Difficult";
        }
        else {
            document.getElementById("slider").innerHTML = "Very difficult";
        }
    }
</script>
{% endblock %}